@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

*, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #191919;
  font-family: 'Raleway', sans-serif;
  
}
header {
  justify-content: center;
  display: flex;
}
main {
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
}

input[type=text], input[type=date] {
  display: block;
  padding: .5em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  border: 1px solid #eaeaea;
  background: #eee;
  border-radius: 4px;
  transition: all 100ms ease-in-out;
  width: 50%;
  margin-bottom: .5em;
  color: #555;
}
input[type=date] {
  width: fit-content !important;

}
input[type=text]:focus, input[type=date]:focus {
  outline: none;
  background: #ddd;
  width: 60%;
}
button {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: .5em;
  border: none;
  border-radius: 4px;
  background: rgb(110, 170, 226);
  color: #fff;
  white-space: nowrap;
  transition: all 100ms ease-out;
}

button:hover {
  background: rgb(54, 111, 163);

}

button:focus {
  outline: none;
}
.entry {
  position: relative;
  background: #f5f5f5;
  padding: 1em 2em;
  margin: 1em 0;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  border-radius: 4px;
  border: 1px solid #eee;
  font-size: .9em;
  width: 100%;
}
.entry:hover {
  background: #e4e4e4 !important;
  color: #191919 !important;
}

.entry:hover .x {
  opacity: 1;
}

.entry::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20px;
  background: #bbb;
  transition: all 150ms ease-in-out;
  opacity: .9;
}
h1 {
  color: #444;
}
h2 {
  font-size: 2em;
  text-transform: capitalize;
  margin: 0;
}
input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -9999;

}

input[type=checkbox]:checked + label .entry {  
  color: #666;
  text-decoration: line-through;
  width: 98%;
}
input[type=checkbox]:checked + label .entry:after {  
  background: #26d826;
}

input[type=checkbox]:checked + label .x {  
  background: #26d826;
  opacity: 1 !important;
}
input[type=checkbox]:checked + label .due {  
  color: #26d826;
}
input[type=checkbox]:checked + label .details {  
  color: #26d826;
}

.x {
  position: absolute;
  top: 10px;
  right: 25px;
  opacity: 0; 
  font-size: .9em;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  transition: all 150ms ease-out;
  z-index: 1;
  color: #fff;
  background: #aaa;

}

.x:hover {
  background: #888;
}

.box {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  background: #fff;
  /* padding: 1em; */
  border-radius: 4px;
  /* border: 1px solid #eee; */
}

.due {
  position: absolute;
  bottom: 5px;
  right: 0;
  transform: translateX(-50%);
  color: rgb(110, 170, 226);
}

.details {
  font-size: 1.25em;
  color: rgb(110, 170, 226);
}

.add {
  justify-content: flex-end;
  display: flex;
  /* background: #f4f4f4; */
  padding: .5em 1em;
  border-radius: 4px;
}
