@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

*, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #191919;
  font-family: 'Raleway', sans-serif;
  
}
header {
  justify-content: center;
  display: flex;
}
main {
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
}

input[type=text] {
  padding: .5em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
  width: 40%;
  margin: 2em 0;
}
input[type=text]:focus {
  outline: none;
  background: #ddd;
  width: 60%;
}
button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  height: fit-content;
  padding: .5em;
  border: 1px solid #eee;
  border-radius: 4px;
  background: rgb(59, 183, 255);
  color: #fff;
  white-space: nowrap;
}

button:hover {
  background: rgb(50, 164, 230);

}

button:focus {
  outline: none;
}
.item {
  position: relative;
  background: #eee;
  padding: 1em 2em;
  margin: 1em auto;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  border-radius: 4px;
  border: 1px solid #eee;
  font-size: .9em;

}
.item:hover {
  background: #e4e4e4 !important;
  color: #191919 !important;
}

.item:hover .x {
  opacity: 1;
}

.item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20px;
  background: rgb(50, 164, 230);
  transition: all 150ms ease-in-out;
  /* z-index: 1; */
  opacity: .9;
}
h2 {
  margin: 0;
}
input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -9999;

}

input[type=checkbox]:checked + label .item {  
  color: #999;
  text-decoration: line-through;
}
input[type=checkbox]:checked + label .item:after {  
  background: #ff3f3f;
}

input[type=checkbox]:checked + label .x {  
  /* opacity: 0; */
  /* transform: translate(-50px, -50%); */
  background: #ff3f3f;
  opacity: 1 !important;
}

.x {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  opacity: 0;
  background: #aaa;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  text-transform: lowercase;
  font-weight: 800;
  color: #fff;
  transition: all 150ms ease-out;
  z-index: 1;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center
}